body {
    font-family: "Source Code Pro", monospace;
}

.fullRow {
    height: 100%;
}

#arc_big {
    width: 140px;
}

#arc_small {
    width: 20px;
    position: fixed;
    top: 10px;
    left: 10px;
}

#menutitle {
    position: fixed;
    top: 5px;
    left: 33px;
}

#arcanimation {
    margin-top: 23px;
    width: 160px;
}

#mainTitleContainer {
    height: 100vh;
}


#arc_big {
    margin-top: 10px;
}

#title {
    font-size: 50pt;
}

#subtitle {
    width: 300px;
}

.subtitleRow {
    display:block !Important;
    font-weight: lighter;
}

#arrowContainer img {
    width: 30px;
}

#aboutSection {
    font-size: 20pt;
    text-align: center;
    height: 100vh;
    padding-left: 20%;
    padding-right: 20%;
}

.wordHighlight {
    font-weight: bolder;
}

#aboutMoreBtn {
    text-align: right;
    font-size: 10pt;
    font-weight: lighter;
}

#aboutModalDescription {
    font-size: 12pt;
    margin-top: 80px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    line-height: 18pt;
}

#aboutModalClaim {
    font-size: 23pt;
    font-weight: lighter;
}

#aboutModal {
    text-align: left;
}

#aboutModal .modal-content {
    min-height:70vh;
    padding: 50px 80px 50px 80px;
    border: 0;
    border-radius: 0;
}

#aboutModal .close {
    margin-right: 0px !important;
}

#aboutModal .modal-header {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-left: 0 !important;
}

.modal-header {
    border-bottom: 0;
}

#aboutModal .modal-dialog {
    max-width: 70% !important;
}

#aboutModal .modal-body {
    padding-left: 0 !important;
}

#projectModalTitle {
    margin-top: 40px;
    font-size: 17pt;
    font-weight: lighter;
}

#projectModalDescription {
    font-size: 10pt;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    line-height: 18pt;
}

#projectModalImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#projectModal .modal-content {
    min-height:70vh;
    padding: 0 80px 80px 80px;
    border: 0;
    border-radius: 0;
}


#fellowModalImage {
    border-radius: 250px !important;
    width: 300px;
    height:300px;
    object-fit: cover;
}

#fellowModal .modal-content {
    min-height:70vh;
    padding: 0 80px 80px 80px;
    border: 0;
    border-radius: 0;
}

#fellowModalBio {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

#aboutModalDescription {
    text-align: justify;
}

.fellowContainer {
    cursor: pointer;
}

#fellowModalName {
    font-size: 20pt;
}

.modal-dialog {
    max-width: 1000px !important;
}

.modal-body {
    padding-left: 0 !important;
}

.modal-header .close {
    font-size: 50px;
    font-weight: 100;
    color: black !important;
    margin-right: -80px;
}

.titleSection {
    border-bottom: 1px solid black;
    margin: 100px 5% 100px 5%;
    font-size: 3.8em !important;
}

.projectTitle {
    font-size: 8pt;
}

.projectImage {
    filter: grayscale(100%);
    width: 100%;
    transition: all 0.5s ease;
}

.projectImage:hover {
    filter: grayscale(0%);
}

.projectContainer {
    width: 30%;
    padding: 1%;
    cursor:pointer;
}

.coloredProject {
    filter: grayscale(0%) !important;
    transition: all 2s ease !Important;
}

.monochromeProject {
    filter: grayscale(100%) !important;
    transition: all 2s ease !Important;
}

#projectSection {
    padding-left:5%;
    padding-right:5%;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.fellowImage {
    display: block;
    border-radius:50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.fellowContainer {
    width: 25%;
    display: inline-block;
    text-align: center;
}

#fellowsSection {
    margin-top: 100px;
}

.row-full {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

#fellowsContainer {
    max-width: 1200px;
}

.fellowName {
    margin-top: 10px;
    margin-bottom: 30px;
}

#contactContainer {
    padding-left:5%;
    padding-right:5%;
}

#address {
    margin-top: 50px;
}

#contactContainer .form-control {
    background-color: #F6F5F4;
    border-radius: 1px;
    border: none;

}

.form-control::placeholder {
    color: #8C8179;
}

#formBtn {
    background-color: white;
    color: black;
    padding: 10px 40px 10px 40px;
    border: 1px solid black;
    border-radius: 1px;
}

#footer {
    margin-top: 200px;
    border-top: 1px solid black;
    padding-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
    height: 90px;
}

#footer img {
    width: 20px;
}

#footerTitle {
    display: inline-block;
    font-weight: lighter;
}

#rightSection p, #rightSection a {
    font-size: 10pt;
}

#iconsContainer i {
    margin-top: 30px;
    color: black;
}

#subtitle {
    opacity: 0;
    margin-bottom: -30px;
}

.ml11 {
    font-weight: 500;
    font-size: 3.8em;
    margin-top: -4px;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 116%;
    width: 1px;
    background-color: black;
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    opacity: 0;
    display: inline-block;
    line-height: 1em;
}

#aboutSection {
    position: relative;
}

#aboutBackground {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#aboutBackground > div {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAeYAAABoCAMAAAATgKPhAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BMQEAAADCoPVPbQlPoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC+BsXYAAGDbdwQAAAAAElFTkSuQmCC");
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: blur(8px) brightness(0.8);
}

#menuContainer {
    display: none;
}


/* MOBILE & RESPONSIVE */

@media only screen and (max-width: 800px) {
    .projectContainer {
        width: 44%;
        padding: 1%;
        cursor:pointer;
    }

    .projectTitle {
        font-size: 12px;
    }

    .fellowContainer {
        width: 50%;
    }

    .fellowImage {
        width: 40vw;
        height: 40vw;
    }

    #aboutSection {
        font-size: 13pt;
        padding-left: 0;
        padding-right: 0;
    }

    .letters {
        font-size: 20pt !important;
    }

    #subtitle {
        font-size: 8pt !Important;
    }

    #mainCol2 {
        padding-left: 0 !important;
    }

    /* MODALS */
    #fellowModal, #projectModal, #aboutModal {
        width: 96vw;
        margin-left: 2vw;
    }

    .modal-content {
        padding: 10px !important;
    }

    #fellowModalImage {
        width: 60vw;
        height: 60vw;
        margin-bottom: 20px;
    }

    .modal-header .close {
        margin-right: 0 !Important;
    }

    .modal-body {
        padding: 10px !Important;
    }

    #aboutModal .modal-body {
        padding: 10px !Important;
    }


    #aboutModal .modal-dialog {
        max-width: 100% !important;
    }

    #aboutModalClaim {
        font-size: 15pt;
    }

    #aboutModalDescription {
        margin-top: 50px;
    }

    #aboutModal .modal-header {
        position: relative;
    }

    #aboutModalTitle {
        font-size: 15pt;
        text-align: center;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .projectImage {
        filter: grayscale(0%);
    }

    #formBtn {
        width: 100%;
    }

    #claimColumn {
        margin-bottom: 50px;
    }

    .titleSection {
        margin: 40px !important;
        margin-left: 0 !Important;
    }

    #footerTitle {
        font-size: 13pt;
    }

    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative
    }
}
